.important { background-color: #ffeeba; padding: 0.75rem; margin: 1rem 0; border-radius: 0.25rem; }
.note { background-color: #e2e3e5; padding: 0.75rem; margin: 1rem 0; border-radius: 0.25rem; }
.warning { background-color: #f8d7da; padding: 0.75rem; margin: 1rem 0; border-radius: 0.25rem; }
.success { background-color: rgb(171, 240, 171); padding: 0.75rem; margin: 1rem 0; border-radius: 0.25rem; }

