.important { background-color: #ffeeba; padding: 0.75rem; margin: 1rem 0; border-radius: 0.25rem; }
.note { background-color: #e2e3e5; padding: 0.75rem; margin: 1rem 0; border-radius: 0.25rem; }
.warning { background-color: #f8d7da; padding: 0.75rem; margin: 1rem 0; border-radius: 0.25rem; }
.success { background-color: rgb(171, 240, 171); padding: 0.75rem; margin: 1rem 0; border-radius: 0.25rem; }

.text-error{color: red;}
.text-success{color: green;}

/* custom docsify  */
.content {
  padding: 0 !important;
}
.markdown-section{
    max-width: 99%;
}


.tooltip {
  position: relative;
  cursor: help;
  border-bottom: 1px dotted #666;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 280px;
  background-color: #333;
  color: #fff;
  text-align: left;
  padding: 6px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  top: 125%; /* debajo del texto */
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 13px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
